@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css2?family=Material+Icons&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@400;700";

html,
body,
#__next {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@layer components {
	.input {
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 4px;
		font-size: 1rem;
		line-height: 1.5rem;
		@apply bg-gray-100 text-blue-700 dark:bg-slate-700 dark:text-amber-400 
			p-2 xl:px-4;
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			border-bottom-width: 2px;
			@apply border-b-gray-400 dark:border-b-slate-400;
		}
		&::after {
			content: " ";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			transition: transform ease-out 175ms;
			transform: scaleX(0);
			transform-origin: 50% 50%;
			border-bottom-width: 2px;
			border-bottom-color: currentColor;
		}
		&.input--focused::after {
			transform: scaleX(1);
		}
		.input-root {
			background: transparent;
			&:focus {
				outline: none;
			}
			@apply text-black placeholder-gray-400 dark:text-white dark:placeholder-slate-400;
		}
	}
}
